#login-form {
    margin-top: 2rem;
}
#login-form .custom-control-input {
    position: static;
    opacity: 1;
    margin-right: 1rem;
}
.date-filter-range {
    min-width: 250px;
}
.date-filter-range input {
    font-size: 12px
}
.content-wrapper {
    height: auto;
}
.pale-yellow {
    background: #f7f394 !important;
}
.pale-gray {
    background: #aaaaaa !important;
}
.pale-green {
    background: #aef7ae !important;
}
.pale-red,
.pale-red td
{
    background: #f7bda8 !important;
}
.pale-blue {
    background: #c2c6f7 !important;
}
.pale-orange {
    background: #fbce8f !important;
}
/* PAGINATION */
.pagination {
    list-style: none;
}
.pagination > li:not(:first-child) > a {
    margin-left: -1px;
}

/*.field-payment-order_id,
.field-payment-document_id
{
    display: none;
}*/


.pagination > li > a,
.pagination > li > span
{
    position: relative;
    padding: .375rem .75rem;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pagination > li.active > a {
    background: #e9ecef;
}
/* PAGINATION */

/* BTNS */
.btn-primary {
    color: #007bff !important;
}
.btn-success {
    color: #28a745 !important;
}
.btn-warning {
    color: #ffc107 !important;
}
.btn-danger {
    color: #dc3545 !important;
}
.btn-secondary {
    color: #6c757d;
}
.btn-primary,
.btn-default,
.btn-success,
.btn-warning,
.btn-danger,
.btn-secondary
{
    background-color: transparent !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.btn-primary:hover,
.btn-default:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-secondary:hover
{
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}
.btn-disabled {
    opacity: 0.3;
}
/* END BTNS*/


.kv-editor-container {
    height: 100% !important;
}
div.required label.form-label:after,
div.required label.control-label:after {
    content: " *";
    color: red;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover
{
    background-color: rgba(255,255,255,.1);
    color: #c2c7d0;
}

/* Contacts */
.contacts-table th {
    vertical-align: top;
}
.contacts-table input.form-control {
    height: 30px;
    margin: 2px 0;
}
.dynamic-contact-lines {

}
/* END Contacts */

