/*
BEGIN PRELOADER
*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #774d93;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
.loader-block {
    position: fixed;
    width: 80px;
    height: 80px;
    margin: auto;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
/*#question-3 .result2__item-info {
    font-size: 18px;
}*/
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
END PRELOADER
*/
.help-block {
    color: red;
}
.info-message {
    opacity: 0;
    color: #28a745;
    height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
}
.info-message.error {
    opacity: 1;
    color: #dc3545;
}
.info-message.success {
    opacity: 1;
    color: #28a745;
}
div.required label.form-label:after,
div.required label.control-label:after {
    content: " *";
    color: red;
}
.modal__cross {
    width: 14px;
    height: 14px;
    top: 20px;
    right: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L11 1.00001M1 1L11 11' stroke='%23707070' stroke-miterlimit='3.8637' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-color: transparent;
    border: none;
    box-shadow: none;

    cursor: pointer;
    background-size: cover;
    position: absolute;
    text-align: center;
}
.utp {
    font-size: 18px;
    color: rgba(255, 255, 255, 1) !important;
}
.promo {
    font-size: 22px;
    padding: 5px 10px;
    background: #FFDC25;
    color: #000;
    /*color: #2b54dc;*/
}
.block-offer {
    background: rgba(0,0,0,0.6);
    padding-right: 103px;
    margin-left: 30px;
}
.advantages {
    /*text-align: center;*/
}
.advantages ul.list {
    display: flex;
    flex-wrap: wrap;
}
.advantages ul.list li {
    width: 33%;
}
.unit {
    display: inline;
    flex: auto;
    padding: 30px 10px;
}
.list-classic-wrap li + li {
    margin-top: 0;
}
.unit-spacing-lg {
    margin: 0;
}
.list-classic .unit-left {
    margin: 0 auto 30px;
}
@media (min-width: 768px) {
    .data-dots-custom.active::after {
        right: 100px;
    }
}


